<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<% include public/header.ejs%>
<h1>这是一个ejs的模板引擎</h1>
<h2><%=title%></h2>
<h2><%=userinfo%></h2>
</body>
</html>